body{
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

.op {
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-allow {
    cursor: not-allowed;
    color: #ddd;
    text-decoration: none;
}
a.a-link {
    color: rgb(53, 118, 237);
    text-decoration: none;
}

.a-link {
    color: rgb(53, 118, 237);
    text-decoration: none;
}